[submodule ".registry"]
	path = .registry
	url = https://github.com/jranke/jranke.r-universe.dev
	branch = HEAD
[submodule "chemCal"]
	path = chemCal
	url = https://github.com/jranke/chemCal
[submodule "mkin"]
	path = mkin
	url = https://github.com/jranke/mkin
[submodule "pfm"]
	path = pfm
	url = https://github.com/jranke/pfm
