[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chemCal"]
	path = chemCal
	url = https://github.com/jranke/chemcal
[submodule "drfit"]
	path = drfit
	url = https://github.com/cran/drfit
[submodule "mkin"]
	path = mkin
	url = https://github.com/jranke/mkin
